<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url('@Url.Content("~/image/emns.png")');
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="text-center" style="text-align: left; width: 80%; margin: 0 auto;">
        <br />
        <br/>
        <h1 class="display-4" style="color: lemonchiffon; font-weight: bold; font-size: 50px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">
            Grade Management System
        </h1>
        <br/>
        <div style="border: 2px solid rgba(128, 0, 0, 0.3); padding: 20px; background-color: rgba(128, 0, 0, 0.3);">
            <p style="color: white; font-size: 18px; font-weight: bold;">
                Students can access the system to check their grades for each subject easily and without a login requirement. The grades are updated regularly, ensuring they can always view the latest information. The system also calculates each student's general weighted average (GWA) based on their grades, providing an accurate result without the need for manual calculations. By clearly indicating whether a student qualifies for the President's List (PL) or Dean's List (DL), the system not only provides information but also encourages students to aim for higher academic achievements.
            </p>
            <p style="color: white; font-size: 18px; font-weight: bold;">
                My goal with this program is to help students stay informed about their academic progress, letting them know if they qualify for the PL or DL and motivating them to succeed academically.
            </p>
       </div>
    </div>
</body>
</html>
