@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Grade Management System"]</title>
    <style>
        body {
            background-image: url('@Url.Content("~/image/emns.png")');
            background-size: 100% auto; 
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="text-center" style="text-align: left; width: 80%; margin: 0 auto;">
        <br />
        <h1 class="display-4" style="color: lemonchiffon; font-weight: bold; font-size: 56px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">
            Welcome to GradeHub, Your Personal Academic Tracker!
        </h1>
        <br />
        <div style="border: 2px solid rgba(128, 0, 0, 0.2); padding: 20px; background-color: rgba(128, 0, 0, 0.2);">
            <br/>
            <p style="color: white; font-size: 18px;">
                The GradeHub system is an academic tracking platform designed to provide students
                with easy access to their grades and overall academic performance throughout the semester.
                The primary goal of this system is to calculate students' general average and instantly inform
                them if they are President's Lister or Dean's Lister.
            </p>
        </div>
    </div>
</body>
</html>
